{% extends "stores/base.html" %}

{% block content %}
<div class="row">
   <div class="col-sm-6 mb-5">
 <h2>Login to Your Store</h2>
</div>

   {% if request.user.is_staff %}
  
      <div class="col-sm-6 mb-5 ">
       <h5 class="float-end"> Signed in  as<Strong> {{request.user}}</strong> </h5>
       </div>
      </div>
   {% endif %}

   </div>
   <div class="col-sm-6 float-end">
   </div>
   {% for s in stores %} 
      <a href="{% url "login" s.id  %}" style=" text-decoration: none;"><h3>{{s.store_name}} <h3></a><br><br><br><br> 
   {% endfor%}

   
</div>








  
{% endblock content %}