{% extends "stores/base.html" %}

{% block content %}
 
   <div class="row">
    <div class="col-sm-6 mb-5">
        <h5> Signed in  as<Strong> {{request.user}}</strong> </h5>
     </div>
     <div class="col-sm-6 mb-5 ">
        <a href="{% url "remove" book.book_id  %}" class="btn btn-danger float-end">Remove book from Inventory</a>
    </div>
  </div>
   
  
  <div class="row">
    <div class="col-sm-3">
      <img src={{ book.imageLinks }} style="width:200px;"> 
    </div>

    <div class="col-sm-9 bg-light ">
      <h2>{{book.title}}</h2>
        <div class="row">
            <div class="col-sm-8 ">
               {% for b in book.author %}
               <h5 class="float-end"> By- <i>{{b}}</i> </h5>
                {% endfor %}
            </div>
            {% if book.quantity %}
            <h6 class="mt-3"> Stock Left : {{book.quantity}} only</h6>
            {% else %}
            <h6 class="mt-3"> Stock Left : <i class="text-danger">Out of Stock </i></h6>
            {% endif %}
            <form action= "/Mystore/" method ='POST'>{% csrf_token %}

                <input type="hidden" name="book_id" value={{ book.book_id}} />
                <div class ='col-sm-2'>
                    <label class=" " >Update Quantity :</label>
                    <input  class="form-control"  type="number"  name="quantity" min="0" value="{{book.quantity}}">
                </div>  
                <button type="submit" class="btn btn-primary mt-3">Update</button>
                </form>



       </div>

  </div>

  
 
 




 
{% endblock content %}  